/Interface/nbproject/private/
/Interface/build/
/TryCatch/build/
/Tokenizer/build/
/Interface/dist/
/Acao/nbproject/private/
/Acao/build/
/Musica/build/
/JOptionPane_revisao/build/
/JOptionPane_revisao/nbproject/private/
/JOP_Interface/build/
/JOP_Interface/nbproject/private/
/NovosLayouts/nbproject/private/
/NovosLayouts/build/
/CRUD/nbproject/private/
/CRUD/build/
